<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appCtrl">
  <head>
    <meta charset="utf-8">

    <meta name="description" content="Erase Projects">
    <meta name="keywords" content="erase, erase projects">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name=“author” title=“Elia Fornari | Qual Agency”>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="google-site-verification" content="ST9VRJnrhrVKBZCp-J1yBQAbA4vetQTCjOtELUhhE0E" />
    <title>ERASE</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon/favicon.ico">
    <!--
    =======================================================================

      Chapter | 2016

      developed by Elia Fornari | ELIA LLC.

    =======================================================================
    -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Prata" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/dist/style.min.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68513539-12', 'auto');
      ga('send', 'pageview');

    </script>


    <base href="/">
  </head>



  <body class="body" ng-class="{'scrolledSplash': !firstLoading}">



  <div class="splash" style="transform: translateY(-{{splashScroll}}px) !important;" ng-if="(!isDevice)" ng-show="firstLoading">
    <!-- style="top:-{{splashScroll}}px !important;" -->
    <splash-directive></splash-directive>
  </div>


  <div class="splash" ng-class="{'splash_gone':removeSplashMobile}" ng-if="isMobile && isDevice" ng-show="firstLoading">
    <splash-directive></splash-directive>
  </div>

<nav-directive></nav-directive>

<div class="pop" ng-click="openNav()">
  <h1 class="pop-open" ng-if="!showNav">M</h1>
  <h1 class="pop-close" ng-if="showNav">X</h1>
</div>

<logo-directive></logo-directive>


  <div class="shop-link">
    <a href="https://shop.eraseprojects.com" class="nav-a" ng-click="closeNav()">shop</a>
  </div>

<div class="perspective-container" ng-class="{'scrolledSplash': !firstLoading}">
  <div class="main-container" ng-class="{'scrolledSplash': !firstLoading, 'nav-in': showNav}">
    <div class="nav-clickout" ng-show="showNav" ng-click="closeNav()">

    </div>
    <!-- , 'nav-in': showNav -->
    <main ng-view class='main page' ng-hide="pageLoading" ng-class="{'scrolledSplash': !firstLoading}">
    </main>
  </div>

</div>


  </body>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="dist/bundle.min.js"></script>
</html>
