<div class="home" summary="home page" id="home" ng-controller="homeCtrl" ng-class="{'blockScroll': firstLoading, 'chromium': isChrome}">



  <div class="home-feed">
    <ul class="home-feed-ul">
      <li ng-repeat="f in Feed.results" class="home-feed-li">
        <table>
          <tr>
            <td>

              <!-- detail -->
              <a href="/feed/{{f.data['feed.documentlink'].value.document.type}}/{{f.data['feed.documentlink'].value.document.uid}}" class="home-feed-a"
              ng-if="f.data['feed.documentlink'].value.document.type=='zine' && !f.data['feed.flip'].value">
                <img src="{{f.data['feed.cover'].value.main.url}}" alt="{{f.uid}}" class="home-feed-zineimg" >
              </a>

              <!-- image -->
              <img src="{{f.data['feed.cover'].value.main.url}}" alt="{{f.uid}}" class="home-feed-image" ng-if="!f.data['feed.documentlink'].value && !f.data['feed.flip'].value" style="left:{{f.data['feed.left'].value}}vw;width:{{f.data['feed.width'].value}}vw">

              <!-- flip -->
              <div class="feed-flip" ng-init="flip=0"
                ng-if="f.data['feed.flip'].value"
              >
                <img src="{{f.data['feed.flip'].value[flip].image.value.main.url}}" alt="" ng-click="(flip=thisFlip(flip, f.data['feed.flip'].value.length))">
              </div>


            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>



</div>
