.about{
  width: 100vw;
  height: auto;
}

.about-image{
  width: 100vw;
  height: 100vh;
  img{
    display: block;
    padding-top: 10vh;
    width: 80vw;
    margin: auto;
    padding-bottom: 10vh;
  }
}
