

.splash{
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index:$z-splash;
  @include card();

}


.splash-text{
  display: block;
  width: 100vw;
  height: 100vh;
  @include respond-to(phone){
    position: absolute;
    width:100%;
    height:100%;
  }
  .splash-text-table{
    width: 100%;
    height: 100%;
    .splash-text-tr{
      .splash-text-td{
        height: 100%;
        vertical-align: middle;
        img{
          margin: auto;
          width: 60vw;
          display: block;
        }
      }
    }
  }
}

.splash-enter{
  position: relative;
  margin: auto;
  z-index: $z-splash-enter;
  width: 200px;
  bottom: 200px;
    height: 200px;
    perspective: 800px;
    position: relative;
    figure{
      position: absolute;
      width: 200px;
      height: 200px;
    }
  a{
    width: 100%;
    display: block;
    text-align: center;
    font-size:50px;
    color: $black;
  }
}



//stagger
// #msg>p>span.ng-enter-stagger {
//   /* 200ms will be applied between each sucessive enter operation */
//   -webkit-transition-delay:0.06s;
//   transition-delay:0.06s;
//
//   /* this is here to avoid accidental CSS inheritance */
//   -webkit-transition-duration:0;
//   transition-duration:0;
//
//   @include respond-to(phone-device){
//     -webkit-transition-delay:0.06s;
//     transition-delay:0.06s;
//
//     /* this is here to avoid accidental CSS inheritance */
//     -webkit-transition-duration:0;
//     transition-duration:0;
//   }
// }
//
// #msg>p>span.ng-enter {
//   -webkit-transition:0.06s linear all;
//   transition:0.06s linear all;
//
//   opacity:0;
//   // line-height:0;
// }
//
// #msgp>p>span.ng-enter.ng-enter-active {
//   opacity:1;
//   line-height:20px;
// }






//chrome mobile
.chromium-arrow{
  @include respond-to(phone-device){
    bottom: $margin-bottom-mobile !important;
  }
}

.splash-arrow{
  position: absolute;
  bottom: $margin-sides;
  left:50%;
  margin-left: -25px;
  width:50px;
  height:50px;
  cursor: pointer;
  @include respond-to(phone-device){
    bottom: 75px;
  }
  // @include stroke-red();
  &:hover{
    -moz-animation:bounce 0.8s linear;
    -webkit-animation:bounce 0.8s linear;
    -o-animation:bounce 0.8s linear;
    animation:bounce 0.8s linear;
    @include respond-to(phone-device){
      -moz-animation:none;
      -webkit-animation:none;
      -o-animation:none;
      animation:none;
    }
  }
  svg{
    width:50px;
    height:50px;
    polyline{

    }
  }
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    @include transform-element(translateY(0));
  }
	30% {
    @include transform-element(translateY(-30px));
  }
	60% {
    @include transform-element(translateY(-15px));
  }
}

@-webkit-keyframes bounce {
  0%, 50%, 80%, 100% {
    @include transform-element(translateY(0));
  }
	30% {
    @include transform-element(translateY(-30px));
  }
	60% {
    @include transform-element(translateY(-15px));
  }
}

@-moz-keyframes bounce {
  0%, 50%, 80%, 100% {
    @include transform-element(translateY(0));
  }
	30% {
    @include transform-element(translateY(-30px));
  }
	60% {
    @include transform-element(translateY(-15px));
  }
}

@-ms-keyframes bounce {
  0%, 50%, 80%, 100% {
    @include transform-element(translateY(0));
  }
	30% {
    @include transform-element(translateY(-30px));
  }
	60% {
    @include transform-element(translateY(-15px));
  }
}

@-o-keyframes bounce {
  0%,  30%, 80%, 100% {
    @include transform-element(translateY(0));
  }
	30% {
    @include transform-element(translateY(-30px));
  }
	60% {
    @include transform-element(translateY(-15px));
  }
}


@include respond-to(phone-device){
  @keyframes bounce {
    0%,  30%, 80%, 100% {
      transform: none;
    }
  	30% {
      transform: none;
    }
  	60% {
      transform: none;
    }
  }

  @-webkit-keyframes bounce {
    0%,  30%, 80%, 100% {
      transform: none;
    }
  	30% {
      transform: none;
    }
  	60% {
      transform: none;
    }
  }

  @-moz-keyframes bounce {
    0%,  30%, 80%, 100% {
      transform: none;
    }
  	30% {
      transform: none;
    }
  	60% {
      transform: none;
    }
  }

  @-ms-keyframes bounce {
    0%,  30%, 80%, 100% {
      transform: none;
    }
  	30% {
      transform: none;
    }
  	60% {
      transform: none;
    }
  }

  @-o-keyframes bounce {
    0%,  30%, 80%, 100% {
      transform: none;
    }
  	30% {
      transform: none;
    }
  	60% {
      transform: none;
    }
}

}

//








// @include keyframes('splash_slideUp', 'splash_slideDown', 'translate3d(0, 0vw, 0)', 'translate3d(0, -100vh, 0)', 'translate3d(0, 0vh, 0)', 'translate3d(0, -100vw, 0)');
@keyframes splash_slideUp {
  0% {
    top:0vh;
    // @include respond-to(phone){
    //   top: 0vh;
    //   opacity: 1;
    // }
  }
  100% {
    top:-100vh;
    // @include respond-to(phone){
    //   top: 0vh;
    //   opacity: 0;
    // }
  }
}

@-webkit-keyframes splash_slideUp {
  0% {
    top:0vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 1;
    // }
  }
  100% {
    top:-100vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 0;
    // }
  }
}

@-moz-keyframes splash_slideUp {
  0% {
    top:0vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 1;
    // }
  }
  100% {
    top:-100vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 0;
    // }
  }
}

@-ms-keyframes splash_slideUp {
  0% {
    top:0vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 1;
    // }
  }
  100% {
    top:-100vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 0;
    // }
  }
}

@-o-keyframes splash_slideUp {
  0% {
    top:0vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 1;
    // }
  }
  100% {
    top:-100vh;
    // @include respond-to(phone){
    //   top:0vh;
    //   opacity: 0;
    // }
  }
}






$animation-bezier: linear;
$animation-speed: 0.8s;

.splash{
  position: fixed;
  top: 0;
  // @include respond-to(phone){
  //   top:0vh;
  //   opacity: 1;
  // }
  // -webkit-transform: scale(1);
  // -webkit-transform: translate3D(0, 0, 0);
  //
  // transform: scale(1);
  // transform: translate3D(0, 0, 0);
  // right: $margin-sides;
  // bottom: $margin-sides;
  // @include transform-element(translate3d(0, 0, 0));

}

.splash.splash_gone{
  top: -100vh !important;
  // @include respond-to(phone){
  //   top:0vh;
  //   opacity: 0;
  // }
  // @include transform-element(translate3d(0, -100vh,0));
}




.splash.splash_gone-add.splash_gone-add-active{
  -webkit-animation: splash_slideUp $animation-speed $animation-bezier;
  -moz-animation: splash_slideUp $animation-speed $animation-bezier;
  -ms-animation: splash_slideUp $animation-speed $animation-bezier;
  -o-animation: splash_slideUp $animation-speed $animation-bezier;
  animation: splash_slideUp $animation-speed $animation-bezier;

  // @include respond-to(phone){
  //   -webkit-transition: opacity $animation-speed $animation-bezier;
  //   -moz-transition: opacity $animation-speed $animation-bezier;
  //   -ms-transition: opacity $animation-speed $animation-bezier;
  //   -o-transition: opacity $animation-speed $animation-bezier;
  //   transition: opacity $animation-speed $animation-bezier;
  // }

}
