.home{
  width: 100vw;
  height: auto;
}

.home-gif{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  img{
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
  }
}

table{
  width: 100%;
  height: 100%;
  tr{
    td{
      vertical-align: middle;
    }
  }
}
