<div class="about">


  <div class="about-image">
    <table>
      <tr>
        <td>
          <img src="/assets/about_image.JPG" alt="erase projects stands by one thing. To design and sell product that helps create free ideas, projects or product. Our goal is to create a brand that is inclusive, we want to inspire and give back to the community. Ease is based on the idea of projects. Each collection we release will help fund something that is free and gives back , but is also temporary. Design should be democratic. Erase and start again.">
        </td>
      </tr>
    </table>

  </div>


</div>
