<div class="about" ng-controller="aboutCtrl">


  <div class="about-video">
    <!-- <iframe src="https://player.vimeo.com/video/186305890?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" width="640" height="1138" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/GohV_UN85fY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
    <video src="http://asset.karissawalker.s3-website-us-west-2.amazonaws.com/edited-theo.mp4" autoplay poster="posterimage.jpg" loop>

    </video>
  </div>



  <div class="about-text">
    <p>Karissa Walker is a creative in Los Angeles. </br>Whose talents are kept uncategorized and showcased here once executed.</p>

  </div>

</div>
