<div class="zine">

  <div class="zine-back btn">
    <a href="/">back</a>
  </div>

  <div class="zine-book">
    <div class="zine-book-content">

      <table>
        <tr>
          <td>
            <div class="zine-book-click">
              <div class="zine-book-click-left" ng-click="prevZine(Zine.current.index)">
              </div>
              <div class="zine-book-click-right" ng-click="nextZine(Zine.current.index)">
              </div>
            </div>
            <img src="{{Zine.current.url}}" alt="" class="zine-book-image">
          </td>
        </tr>
      </table>
    </div>
    <h2 class="zine-book-status">
      {{Zine.current.index +1 }}/{{Zine.data['zine.page'].value.length}}
    </h2>
  </div>

</div>
