

.nav{
  position: fixed;
  width:30vw;
  height:100vh;
  top:0;
  right:-30vw;
  z-index:$z-nav;
  background-color: #000000;
  @include respond-to(phone){
    width:50vw;
    right:-50vw;
  }
}

.pop{
  position: fixed;
  top:$margin-sides;
  right:$margin-sides;
  z-index:$z-pop;
  .pop-close{
    color: $white;
  }
}



.nav-content{
  width: 600px;
  margin: auto;
  @include respond-to(phone){
    width: 90%;
    margin: auto;
  }
}


.nav-list{
  display: inline-block;
  width: 100px;
  vertical-align: top;
  margin-top: 8vh;
  @include respond-to(phone){
    width:50vw;
  }
  a{
    @include h1();
    display: block;
    height:$line-height-h1;
    @include hover-effect-color($white,$almost-black);
  }
}


.shop-link{
  position: fixed;
  left: $margin-sides;
  bottom: $margin-sides;
  z-index: $z-nav;
}

/*.....................ACTIVE CLASSES......................*/

.active{
  // color: $almost-black !important;
}


.nav-in{
  right:0vw;
}

.nav-in-add.nav-in-add-active{
  transition: 1s $nav-transition;
  -webkit-transition: $nav-speed $nav-transition;
  -moz-transition: $nav-speed $nav-transition;
  -ms-transition: $nav-speed $nav-transition;
}

.nav-in-remove.nav-in-remove-active{
  transition: $nav-speed $nav-transition;
  -webkit-transition: $nav-speed $nav-transition;
  -moz-transition: $nav-speed $nav-transition;
  -ms-transition: $nav-speed $nav-transition;
}
