<nav class="nav" ng-controller="navCtrl" ng-class="{'nav-in': showNav}">
  <!-- ng-show="isNav" -->
  <table>
    <tr>
      <td>

      <div class="nav-content">
        <div class="nav-list" ng-if="!isMobile">
          <a href="/" class="nav-a" ng-class="{'active': isLocation('/')}" ng-click="closeNav()">feed</a>
          <a href="/contact" class="nav-a" ng-class="{'active': isLocation('/contact')}" ng-click="closeNav()">contact</a>
          <a href="/about" class="nav-a" ng-class="{'active': isLocation('/about')}" ng-click="closeNav()">about</a>
        </div>
      </div>
    </td>
  </tr>
</table>



</nav>
